.navbar-profile-pic img{
    border-radius: 40px;
    height: 200px;
    width: 160px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 0px;
    padding: 5px;
    transition: transform 0.3s ease;
}
.navbar-profile-pic img:hover{
    border: 2px solid orange;
    box-shadow:#f29f67;
    transform: scale(1.1);
}
.nav-item{
    color: white;
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 30px;
}
.nav-link{
    margin-top: 15px;
    cursor: pointer;
}
.nav-link svg{
    margin-right: 10px;
}
.nav-link:hover{
    margin-right: 10px;
    color: #f29f67;
}